<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/cartsStyles.css">
</head>

<body>
    <div class="container">
        <h2 class="text-center">Carro</h2>
        <div class="cart detail">
            {{#each products}}
            <div class="product card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{this.product.thumbnails}}" alt="foto producto" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">{{this.product.title}}</h3>
                            <h4 class="card-text">{{this.product.description}}</h4>
                            <p class="card-text">Precio: ${{this.product.price}}</p>
                            <p class="card-text">Cantidad: {{this.quantity}}</p>
                            <p class="card-text">Código: {{this.product.code}}</p>
                            <a href="../products/{{this.product._id}}" class="btn btn-primary">Ver Producto</a>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
