<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/productsStyles.css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="#">JaggerStore</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link">Bienvenido, {{user.first_name}} {{user.last_name}} /
                        {{user.role}})</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Cerrar sesión</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="category">
    <a href="products" class="btn btn-link">Todas las categorías</a>
    <a href="?query=%7B%22category%22%3A%22Laptops%22%7D" class="btn btn-link">Notebooks</a>
    <a href="?query=%7B%22category%22%3A%22Monitors%22%7D" class="btn btn-link">Monitores</a>
    <a href="?query=%7B%22category%22%3A%22Keyboards%22%7D" class="btn btn-link">Teclados</a>
    <a href="?query=%7B%22category%22%3A%22Mice%22%7D" class="btn btn-link">Mouses</a>
    <a href="?query=%7B%22category%22%3A%22Headphones%22%7D" class="btn btn-link">Auriculares</a>
    <a href="?query=%7B%22category%22%3A%22Storage%22%7D" class="btn btn-link">Auriculares</a>
    <a href="?query=%7B%22category%22%3A%22Printers%22%7D" class="btn btn-link">Impresoras</a>
    <a href="?query=%7B%22category%22%3A%22Tablets%22%7D" class="btn btn-link">Tablets</a>
    <a href="?query=%7B%22category%22%3A%22Networking%22%7D" class="btn btn-link">Routers</a>
    <a href="?query=%7B%22category%22%3A%22Speakers%22%7D" class="btn btn-link">Altavoces externos</a>
    <a href="?query=%7B%22category%22%3A%22Webcams%22%7D" class="btn btn-link">Webcams</a>
</div>


        <div class="products row">
            {{#each productos.payload}}
            <div class="product col-md-4">
                <h3>{{this.title}}</h3>
                <img src="{{this.thumbnails}}" alt="foto producto" class="img-fluid">
                <h4>{{this.description}}</h4>
                <p>Precio: ${{this.price}}</p>
                <p>Stock: {{this.stock}}</p>
                <input class="btn btn-primary" type="button" value="Agregar al carro">
                <a href="../products/{{this.id}}" class="btn btn-secondary verproducto">Ver detalles</a>
            </div>
            {{/each}}
        </div>
        <div class="paginado row">
            {{#if hasPrevPage }}
            <a class="btn btn-primary" href="{{firstLink}}">Primera</a>
            <a class="btn btn-primary" href="{{prevLink}}">Anterior</a>
            {{else}}
            <a class="btn btn-primary disabled">Primera</a>
            <a class="btn btn-primary disabled">Anterior</a>
            {{/if}}
            {{#if hasNextPage }}
            <a class="btn btn-primary" href="{{nextLink}}">Siguiente</a>
            <a class="btn btn-primary" href="{{lastLink}}">Ultima</a>
            {{else}}
            <a class="btn btn-primary disabled">Siguiente</a>
            <a class="btn btn-primary disabled">Ultima</a>
            {{/if}}
        </div>
        <div class="limite">
            <a href="?limit=5">ver 5</a>
            <a href="?limit=10">ver 10</a>
            <a href="?limit=20">ver 20</a>
            <a href="?limit=50">ver 50</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../scripts/productsScript.js"></script>
</body>

</html>


