<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/productsStyles.css">
</head>

<body>
    <div class="container">
        <h2 class="text-center">{{title}}</h2>
        <div class="product detail">
            <img src="{{thumbnails}}" alt="foto producto" width="100" />
            <h3>{{description}}</h3>
            <p>Precio: ${{price}}</p>
            <p>Categoría: {{category}}</p>
            <p>Imagen: {{thumbnails}}</p>
            <p>Status: {{status}}</p>
            <p>Código: {{code}}</p>
            <p>Stock: {{stock}}</p>
            <input class="btn btn-primary" type="button" value="Agregar al carro" />
            <a href="../products" class="btn btn-link verproducto">Ver todos los productos</a>
            <a href='../products?query={"category":"{{category}}"}' class="btn btn-link verproducto">Ver Categoría</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
